.projetos li{
	height: 300px;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin:0 1.5%;
	padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #333;
	border-radius: 10px;
}
.projetos img{
	padding-bottom: 10px;
	width: 50%;
}